body {
	font-size: 120%;
}

a {
	color: #00A2C0;
	text-decoration: none;
	font-weight: bold;
}

h2 {
	color: #00A2C0;
	font-family: Arial, sans-serif;
}

#menu ul{
	padding: 0;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu li a {
	display: inline-block;
	padding: 0.3em 0.6em;
	margin: 0.3em;
	font-family: Arial, sans-serif;
	color: #555555;
	background-color: #38C5E0;
	border: 2px solid #888888;
	border-radius: 3px;
}

#menu li a:hover {
	background-color: #00A2C0;
	cursor: pointer;
}

#content {
	padding: 0.3em 0.6em;
	background-color: #DDDDDD;
	border: 2px solid #888888;
	border-radius: 3px;
}