/**
 * Styly SVG mapy
 */

.light {
	fill: #FFFFFF;
}
.dark {
	fill: #000000;
}
.label {
	font-size: 14px;
	font-family: Arial;
	text-anchor: middle;
	font-weight: bold;
	text-align: center;
}
.buildingpartlabel {
	fill: #FFFFFF;
}
.buildinglabel {
	fill: #000000;
}
.big1 {
	stroke-width: 1px;
}
.big2 {
	stroke-width: 2px;
}
.small1 {
	stroke-width: 0.15px;
}
.small2 {
	stroke-width: 0.3px;
}
.area {
	stroke: #000000;
}
.fitarea {
	fill: #0066FF;
}
.neutralarea {
	fill: #FFFFFF;
}
.ctuarea {
	fill: #8DA6CC;
}
.otherarea {
	fill: #BBBBBB;
}
.floor {
	visibility: hidden;
}
.floorframe {
	stroke: #000000;
	fill: #FFFFFF;
}
.wall {
	stroke: #000000;
	fill: none;
}
.door {
	stroke-dasharray: none;
	stroke: #D40000;
	fill: none;
}
.smallicon {
	/*stroke: #FFFFFF;
	stroke-width: 0.02;*/
	stroke: none;
	fill: #000000;
}
.iconlabel {
	font-size: 5px;
	font-family: Arial;
	fill: #000000;
	text-anchor: middle;
	font-weight: bold;
	text-align: center;
}
.point, .point path {
	fill: #00D400;
}
.point path.light {
	fill: #ffffff;
}
.visible {
	visibility: visible;
}
.hidden {
	visibility: hidden;
}
.unimportant {
	opacity: 0.3;
}
#position-pointer, #search-pointer {
	visibility: hidden;
}
#position-pointer, .search-pointer {
	opacity: 0.6;
}
#position-pointer .dark, .search-pointer .dark {
	fill: #D40000;
}
