# aktualizace jidelnicku kazdy den 3 minuty po zverejneni
3 9,10,16,17 * * *    user    curl localhost:1337/jidelnicky/ 2>&1 1> jidelnicky.all.log 2> jidelnicky.err.log

# aktualizace osob kazdy den 10 minut po druhe hodine
10 2 * * *            user    curl localhost:1337/osoby/      2>&1 1> osoby.all.log 2> osoby.err.log

# aktualizace akci 10 minut po kazde sude hodine
10 */2 * * *          user    curl localhost:1337/akce/       2>&1 1> akce.all.log 2> akce.err.log

# aktualizace rozvrhu kazdy den 10 minut po druhe hodine
10 2 * * *            user    curl localhost:1337/rozvrh/     2>&1 1> rozvrh.all.log 2> rozvrh.err.log
# aktualizace rozvrhu v dobe tvorby 10 minut po kazde hodine
10 * * 6,9,10,1,2 *   user    curl localhost:1337/rozvrh/     2>&1 1> rozvrh.all.log 2> rozvrh.err.log
